body {
    background: white;
    font-family: 'Droid sans', Helvetica, Arial, sans-serif;
    color: #404042;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

a {
    color: #ff6633;
    text-decoration: none;
    /* transform: 0.3s;*/
}

h1 {
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: normal;
    color: #404042;
}

h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 0;
    margin: 0.8em 0 0.3em 0;
    font-weight: bold;
    color: #404042;
}

h4 {
    font-size: 1.0em;
    line-height: 1.2em;
    padding: 0;
    margin: 0.8em 0 0.3em 0;
    font-weight: bold;
    color: #404042;
}

strong {
    color: #ff6633;
}

/*
.header {
    height: 50px;
    overflow: auto;
    position: absolute;
    width: 100%;
}

div.content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
*/